<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        {{book.title}}
    </h3>
    <img src= {{book.thumbnailUrl}}  >
    <p>
        Written By : {{book.authors|join:","}}
    </p>
    <p>
        {{book.shortDescription}}
    </p>
    <br>
    <p>
        {{book.longDescription}}
    </p>

   
</body>
</html>